h4{
	border: 5px dotted red;
}

.colors{
	color:green;
}

#clr{
	color:blue;
}

.bg2{
	color:chocolate;
}

.col{
	color:darkkhaki;
}

.stl{
	border-style:inset;
	color:darkslateblue;
}